<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <title>Пришло новое сообщение</title>
</head>
<body style="font-family: Arial, sans-serif; color:#222;">
<h2>Сообщение от пользователя</h2>

<h3>Контактные данные</h3>
<ul>
    <li>Имя: {{ mail.name }}</li>
    <li>Email: {{ mail.contact }}</li>
    <li>Сообщение: {{ mail.message }}</li>
</ul>
</body>
</html>